@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.balanceInfo {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.balance {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span:first-child {
    font-weight: bold;
    display: block;
    @include device(small) {
      font-size: 0.9rem;
    }
  }
  span:last-child {
    font-size: 2.25rem;
    color: $color-blue;
    white-space: nowrap;
    @include device(small) {
      font-size: 1.6rem;
    }
  }
}

.inputOutput {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 2rem;
  @include device(small) {
    gap: 1rem;
  }
  @include device(xSmall) {
    flex-wrap: wrap;
  }
  .input,
  .output {
    background: $color-white;
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    span:first-child {
      display: block;
      font-size: 0.8rem;
      @include device(small) {
        font-size: 0.7rem;
      }
    }
    span:last-child {
      font-size: 1.3rem;
      color: $color-blue;
      white-space: nowrap;
      @include device(small) {
        font-size: 1.1rem;
      }
    }
  }
  .input {
    color: $color-green;
  }
  .output {
    color: $color-red;
  }
}
