@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  margin: 0 auto;
  padding: 1rem;
  max-width: 1200px;
  position: relative;
  h1 {
    margin-bottom: 4rem;
    font-size: 2rem;
    text-align: center;
    @include device(small) {
      margin-bottom: 2rem;
      font-size: 1.6rem;
    }
  }
}

.welcomeMessage {
  display: block;
  margin-bottom: 1rem;
  font-size: 0.9rem;
  @include device(medium) {
    font-size: 0.8rem;
    display: block;
    margin-bottom: 3rem;
  }
}

.dollarSignBg {
  width: 100%;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: -1;
}

.dollarSign {
  max-width: 350px;
  margin: 0 auto;
}

.newTransactionBtn {
  margin-top: 3rem;
  margin-left: calc(50% - 106px);
  width: 212px;
  padding: 0.9rem 1rem;
  background: $color-blue;
  border: none;
  color: $color-white;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background: $color-blue-hover;
  }
  @include device(small) {
    font-size: 0.7rem;
    width: 130px;
    padding: 0.7rem 1rem;
    border-radius: 0.3rem;
    margin-left: calc(50% - 65px);
  }
}

.transactionsContainer {
  margin-top: 3rem;
  padding: 2rem;
  background: $color-white;
  min-height: 262px;
  border-radius: 1rem;
  position: relative;
  @include device(small) {
    padding: 1rem;
  }
  h2 {
    @include device(small) {
      font-size: 1.1rem;
    }
    &::after {
      content: "";
      margin-top: 0.25rem;
      display: block;
      background: $color-gray-detail;
      height: 1px;
      width: 100%;
    }
  }
}

.pigImage {
  width: 110px;
  position: absolute;
  top: -89px;
  right: 150px;
  @include device(medium) {
    width: 90px;
    top: -74px;
    right: 0px;
  }
  @include device(small) {
    width: 60px;
    top: -49px;
    right: 0px;
  }
}
