@import '../../styles/variables.scss';

.container {
  label {
    display: block;
    color: $color-fonts;
    margin-bottom: 0.25rem;
  }
  input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    outline: none;
    &:focus {
      border-color: #6e90c2;
      box-shadow: 0 0 4px 2px #6e90c2;
      background: rgb(247, 247, 247);
    }
  }
}