@import '../../styles/variables.scss';

.header {
  background: #1d1d1d;
}

.container {
  max-width: 1200px;
  min-height: 100px;
  margin: 0 auto;
  padding: 0 1rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  width: 62px;
  a {
    display: block;
  }
}

.nav {
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    &:first-child {
      color: $color-blue;
    }
  }
}

.link {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 0.5rem;
  &:hover {
    color: $color-blue;
  }
}

.activeStyle {
  color: var(--color-blue);
}

.button {
  display: block;
  border: none;
  padding: 0.5rem;
  color: #fff;
  background: #1d1d1d;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    color: $color-blue;
  }
  &:focus {
    color: $color-blue;
  }
}
