:root {
  --color-primary: rgb(255, 110, 43);
  --color-primary-hover: rgb(255, 89, 12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}